
@media (max-width: 700px) {
    html, body {
        font-size: 90%;
        width: 95vw;
        margin: 0.1rem;
}

    .calendar-container {
        width: 95vw;
        height: auto;
        margin: 0.5rem 0;
        padding: 0.25rem;
        box-sizing: border-box;
    }

    .calendar-grid {
        min-height: auto;
        gap: 0.1rem;
        grid-template-rows: repeat(6, auto);
    }

    .dayCells {
        margin: 0.1rem;
        padding: 0.5rem 0.1rem;
        border-radius: 0.5rem;
    }

    #ereignisse, p {
        padding: 1rem;
        box-sizing: border-box;
    }

    .calendar-navigation {
        margin: 0.5rem;
    }


    button {
        padding: 0.5rem 0.75rem;
    }

    .logo {
        max-width: 7rem;
    }
}

@media (max-width: 350px) {
    #holiday-banner {
        width: 100vw;
        overflow: hidden;
        margin: 0.5rem 0;
    }

    #ereignisse, p, .calendar-container {
        width: 92vw !important; 
        padding: 0.8rem !important; 
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: none;
    }

    .calendar-grid {
        grid-template-columns: repeat(7, 1fr);
        gap: 0.1rem;
    }

    .dayCells {
        padding: 0.2rem 0;
    }
}